.bus_arrival_card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1.5px solid #949494;

    padding: 6px;
}

.bus_information {
    width: 130px;
    height: 110px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background-color: #0000FF;

    svg {
        color: #fff;
        width: 32px;
        height: 32px;
    }

    p {
        font-size: 30px;
        font-weight: 400;

        color: #fff;
    }

    &[data-bus-type="일반버스"] {
        background-color: #0000FF;
    }

    &[data-bus-type="마을버스"] {
        background-color: #ffa600;
    }
    
    &[data-bus-type="광역버스"] {
        background-color: #FF0000;
    }
}

.bus_arrival_time {
    font-size: 38px;
    font-weight: 500;

    &[data-arrive-soon="true"] {
        color: #ff8000;
    }
}

.bus_remaining_stops {
    font-size: 24px;
    font-weight: 400;

    color: #656565;
}

.bus_call_button {
    width: 90px;
    height: 90px;

    border-radius: 999px;
    border: 0;

    font-size: 22px;
    font-weight: 700;
    
}

.bus_call_button_called {
    background-color: red;
    color: #fff;
}